@import '../../../_variables.scss';

.splashContainer {
  // background: url('../../../public/images/splash/code.jpg'); // Done inline in the component
  // background-position-y: 50%;
  background-size: cover;
  transition:background-position-y 0.0.1s linear;
  height:50vh;
  position: relative;
  overflow: hidden;
}

.splashHeadingContainer {
  // width:100%;    
  margin: 0 auto 3rem auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;

  max-width: 80rem;
}
  .splashHeadingWrapper {
    display: inline-flex;
    padding-right:3rem;
    // background: $quinary_dark;
    position: relative;
    z-index: 10;

    &::before{
      content: '';
      display: inline-block;
      position: absolute;
      top:0;
      // left:0;
      bottom:0;
      right:0;
      width: 500%;
      transform:  skewX(-20deg);
      background: $quinary_dark;
      box-shadow: 0.3rem 0.3rem 0.6rem $greyscale_darkest;
    }

    // WORKING BUT OVERLY COMPLICATED
    // &::before{
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   top:0;
    //   left:0;
    //   bottom:0;
    //   // right:0;
    //   width: 500%;
    //   transform: translateX(-99%);
    //   background: $quinary_dark;
    // }
    
    // &::after{
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   top:0;
    //   left:0;
    //   bottom:0;
    //   right:0;
    //   transform: translateX(10%) skewX(-20deg);
    //   z-index: 0;
    //   background: $quinary_dark;
    // }

    > * {
      z-index: 100;
    }
  }
