@import '../../_variables.scss';

.contentContainer{
  max-width: 80rem;
  margin: 0 auto;
  padding:2rem;
} 
  
.catalystStartupImage{
  width:33%;
  float:right;
  margin:10px;
}
// XS
@media (max-width: 599px) {
  .catalystStartupImage{
    width:calc(100% - 20px);
    float:unset;
    margin:10px;
  }
}