.swatchColumn{
  //flex child properties (relative to parent)
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  //Properties as a flex parent...
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  // align-content: center;
  align-items: flex-start;
}
  // ...to its children
  .swatch{
    position: relative;
    display: inline-flex;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
  }
  .swatchHovered{
    composes:swatch;
    // border:0.3rem solid rgba(0,0,0,0.4);
    box-shadow: inset 0 0 0 0.3rem rgba(0,0,0,0.6), 0 0 0.6rem 0 rgba(255,255,255,1);
    z-index: 50;
  }
    .hiddenInput{
      width:1rem;
      opacity:0;
    }
    .tooltipContainer{
      position: absolute;
      display: inline-block;
      height:3rem;
      left:-100%;
      bottom:-3.2rem;
      z-index: 100;
      text-align: center;
      width:300%;
    }
    .tooltip{
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;

      position: relative;
      // display: inline-block;
      font-size:1.1rem;
      border-radius:0.5rem;
      background:white;
      width: auto;
      // ARROW
      background: #ffffff;
      border:0.3rem solid #000000;
      text-align: center;
      padding: 0.1rem;

      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width:0.8rem;
        margin-left: -0.8rem;
      }
      &:before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #000000;
        border-width:1.2rem;
        margin-left: -1.2rem;
      }

      > label{
        order: 0;
        flex: 1 1 auto;
        align-self: auto;

        margin-top:0.2rem;
        text-align: center;
        display: inline-block;
        width:auto;
        justify-self: center;
      }
    }
