@import '../../../variables';

.fourOhFour{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  >div{
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
  
    h1{
      font-size: 20vh;
      width:100%;
    }
    h5 {
      text-align: center;
    }
  }
  
}