@import '../../../_variables.scss';

.heading{

  strong{
    cursor:pointer;
    padding-right:0.7rem;
  }
  
  .linkIconContainer{
    cursor:pointer;
    opacity:0;
    transition: opacity 0.1s linear;
  }

  &:hover{
    .linkIconContainer{
      opacity:1;
    }
  }
}

.linkIconContainer{
  display: inline-flex;    
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 2.2rem;
  width:2.2rem;
  background: $greyscale_lighter;
  padding: 0.2rem;
  border-radius: 50%;

  > svg{
    height:1.8rem;
    width:1.8rem;
  }
}
