@import '../../../../_variables.scss';

.navItem {
  position: relative;
  font-weight: bold;
  padding: 0.4rem 2rem 0.4rem 2.4rem;
  color: $navMenuText;
  margin-top:0.1rem;
  
  &:hover{
    background: $navMenuItemBackground_Hover;
    color: $navMenuText_Hover;
    cursor:pointer;
  }

  &.active{
    background: $navMenuItemBackground_Active;
    color: $navMenuText_Active;
    cursor:pointer;
  }
}

  .activeIndicator {
    position: absolute;
    top:0.5rem;
    left:0.5rem;
    bottom:0;
    box-sizing: border-box;
    padding: 0 0.1rem;
    background: $navMenuActiveIndicator;
    color: $navMenuText;
    border-radius: 50%;
    border:0.1rem solid black;
    width: 1.4rem;
    height: 1.4rem;
    transform: rotate(0deg);
    transition: transform 0.2s linear;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .activeIndicatorActive{
    transform: rotate(90deg);
  }

  .activeIndicator svg{  
    width:1rem;  
    height:1rem;  
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
