@import '../../../variables';

.burgerButton{
  position: fixed;
  bottom: 10px;
  left:20px;
  height:60px;
  width:60px;
  padding:8px;
  box-sizing: border-box;
  border-radius:50%;
  background:$callout;
  z-index: 2000;
  cursor: pointer;

  box-shadow: 0 0 0 0 $callout_lightest ;
  transition: box-shadow 0.1s linear;
  &:hover{
    box-shadow: 0 0 0 5px $callout_lightest ;
  }
}

.navContainer{
  position: fixed;
  top: 0;
  width: $navMenuWidth;
  height: 100vh;
  overflow:hidden;
  // overflow-y:auto;
  z-index: 3000;

  background: $navMenuBackground;
  // background: $tertiary_light;
  // padding-right: 0.9rem;
  // box-sizing: border-box;
  // box-shadow: inset -0.3rem 0rem 0 0rem $primary_dark, inset -0.6rem 0rem 0 0rem $primary_light, inset -0.9rem 0rem 0 0rem $primary_lightest;
  transition: width 0.2s ease-out;
}
.navContainerMobile_open{
  composes: navContainer;
  // top: 80px;
}
.navContainerMobile_closed{
  composes: navContainer;
  // top: 80px;
  width:0;
}
.navCollapseWrapper{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width:$navMenuWidth;
  overflow: hidden;
  overflow-y: auto;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: nowrap;
  // justify-content: flex-start;
  // align-content: stretch;
  // align-items: stretch;
}
  // .logoCell{
  //   order: 0;
  //   flex: 0 1 auto;
  //   align-self: auto;
  // }
  // .navMenuCell{
  //   order: 0;
  //   flex: 1 0 auto;
  //   align-self: auto;
  // }
  // .osSwitchCell{
  //   order: 0;
  //   flex: 0 1 auto;
  //   align-self: auto;
  // }
    .osSwitchCell{
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
    }
