@import '../../../../../_variables.scss';

.navSubItem {
  position: relative;
  margin:0.1rem 0 0 2.5rem;
  padding: 0.3rem 1rem 0.4rem 1rem;
  color: $navMenuText;
  
  &:hover{
    background: $navMenuItemBackground_Hover;
    cursor:pointer;

    > a{
      color: white;  
    }
  }

  &.active{
    background: $navMenuItemBackground_Active;
    cursor:pointer;
    > a{
      color: $navMenuText_Active;      
    }
  }
  
  > a{
    text-decoration: none;
    color: $navMenuText;
  }
}
.intersectionBar{
  position: absolute;
  left:-0.4rem;
  // top:0;   - these are to be handled inline based on state.
  // bottom: 0;
  width: 0.3rem;
  background:$navMenuIntersectionBar;
}