@import '../../../_variables.scss';

.switchContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: stretch;
  height: 5rem;
  margin: 0.5rem;
}

.switchOption{
  box-sizing: border-box;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  max-width: 25%;
  align-self: center;
  border-radius: 50%;
  padding:0.9rem;
  cursor:pointer;
  outline: none;
  box-shadow: 0 0 0 0 $osSelector_Active;
  transition: all 0.2s linear;
  border: 2px solid $osSelectorBorder;
  
  > svg {
    opacity: 0.6;
  }
}
  .active{
    border: 2px solid $osSelectorBorder_Active;
    box-shadow: 0 0 0 0.3rem $osSelector_Active;

    > svg {
      opacity: 1;
    }
  }
