@import '../../_variables.scss';

@import '../fonts/Avenir/stylesheet.css';
// @font-face {
//   font-family: 'Karla-Bold';
//   src: url('../fonts/karla/Karla-Bold.woff2') format('woff2'),
//       url('../fonts/karla/Karla-Bold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Karla-Regular';
//   src: url('../fonts/karla/Karla-Regular.woff2') format('woff2'),
//       url('../fonts/karla/Karla-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Karla-Italic';
//   src: url('../fonts/karla/Karla-Italic.woff2') format('woff2'),
//       url('../fonts/karla/Karla-Italic.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Karla-BoldItalic';
//   src: url('../fonts/karla/Karla-BoldItalic.woff2') format('woff2'),
//       url('../fonts/karla/Karla-BoldItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

.thin,
.light{
  font-family: 'Avenir LT Std';
  font-weight: 300;
  font-style: normal;
}

.bold,
strong{
  // font-family: 'Karla-Bold';
  font-family: 'Avenir LT Std';
  font-weight: 900;
  font-style: normal;
}

.italic,
i,
em{
  // font-family: 'Karla-Italic';
  font-family: 'Avenir LT Std';
  font-weight: normal;
  font-style: italic;
}

.bold.italic,
.boldItalic,
i > strong,
strong > i{
  font-family: 'Avenir LT Std';
  font-weight: 900;
  font-style: italic;
}


code {
  display: inline-block;
  margin:0.5rem;
  border-radius: 0.03rem;
  padding:0 0.3rem;
  box-shadow: 0 0 0 0.2rem #060606;
  font-size: $codeCopySize;
  background: #060606;
  color: rgb(214, 214, 214);
  word-wrap: break-word;

  pre{
    white-space: break-spaces;
  }
  
}

hr{
  display:flex;
  margin: 2rem 0;
}

h1{
  font-size:5.5rem;
  margin:1.6rem 0.4rem;
}

h2{
  font-size:4.8rem;
  margin:1.4rem 0.4rem;
}

h3{
  font-size:4.1rem;
  margin:1.2rem 0.4rem;
}

h4{
  font-size:3.4rem;
  margin:0.8rem 0.4rem;
}

h5{
  font-size:2.7rem;
  margin:0.8rem 0.4rem;
}

h6{
  font-size:2rem;
  margin:0.5rem 0.4rem;
}

p, label {
  font-size: $standardCopySize;
  margin:0.8rem 0.4rem ;
}
h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  font-family: 'Avenir LT Std';

  // > strong,
  // > .bold,
  // > b{
  //   letter-spacing: -0.1rem;
  //   font-weight: 800;
  //   font-family: 'Karla-Bold';
  // }

  // > em,
  // > i{
  //   letter-spacing: -0.3rem;
  //   font-weight: 400;
  //   font-family: 'Karla-Italic';
  // }

  > i > b,
  > em > b,
  > i > strong,
  > em > strong,
  > b > i,
  > b > em,
  > strong > i,
  > strong > em {
    font-family: 'Avenir LT Std';
    font-weight: 900;
    font-style: italic;
  }
  
  sup{
    letter-spacing: normal;
    font-size:50%;
    display: inline-block;
    transform: translateY(-0.2rem)
  }

  sub{
    letter-spacing: normal;
    font-size:50%;
    display: inline-block;
    transform: translateY(0.2rem)
  }

  > code {
    margin:0.2rem 0.3rem !important;
  }
}

ul {
  > li{
    list-style-type: circle;
    font-size: $standardCopySize;
    margin:0.4rem;
  }
}
