@import '../../_variables.scss';


.container{
  box-sizing: border-box;
  position: relative;
  // display: grid;
  // grid:
  //   ' nav main '
  //   ' nav footer '
  //   ;
  // grid-template-columns: 0 1fr;
  // grid-template-rows: 1fr $footerHeight;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  min-height: 100vh;
}


.navGrid {
  // position: relative;
  // grid-area: nav;
  // margin-bottom: $footerHeight;
}


.mainGrid{
  position: relative;
  // grid-area: main;
  background: $mainBackground;

  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  
  //display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  
  // overflow-x:hidden;
}
.mainGridWithMenuMargin{
  composes: mainGrid;
  // margin-left: calc(#{$navMenuWidth} - 18px);
  margin-left: $navMenuWidth;
}

.footerGrid{
  position: relative;
  // grid-area: footer;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  
  background: $footerBackground;
  overflow: hidden;
  text-align: right;
  padding-right:80px;
}
  .footerGrid svg {
    margin-top: $footerIconMargin;
    margin-left: $footerIconMargin;
    margin-bottom: 0;
    margin-right: $footerIconMargin;
    height:calc(#{$footerHeight} - #{$footerIconMargin} - #{$footerIconMargin})
  }
