@import '../../../variables';

$colourTableBackground: white;

.container{
  width:100%;
  height:100%;
  box-sizing: border-box;
  overflow:hidden;
  position: relative;
  background: $colourTableBackground;
  min-height: calc(100vh - 85px);
}

.swatchHeader{
  display: flex;
}
.swatchHeader > h4{
  font-weight: bold;
  color: $tertiary_darkest;
  margin:0;
  line-height:3.4rem;
  font-size:3.4rem;
}
  .themeHeader{
    composes: swatchHeader;
  }
  .interactionHeader{
    composes: swatchHeader;
  
    >h4{
      width:100%;
      text-align: right;
    }
  }

.swatchGridColumn{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
  .themeColoursContainer{
    composes: swatchGridColumn;
  }
  .interactionColoursContainer{
    composes: swatchGridColumn;
  }