@import '../../_variables.scss';

.contentContainer{
  max-width: 100vw;
  margin: 0 auto;
  padding:2rem;
}
.catalystStartupImage{
  width: calc(100% - 20px);
  float:right;
  margin:10px;
}

.folderStructureImage{
  float:right;
  margin:10px;
}
.addTodoImage,
.basicLayoutImage{
  width:20%;
  float:right;
  margin:10px;
}
.partOneComplete,
.appWithTodosScreenshot,
.todoItemAddedImage,
.reduxDevtoolsImage{
  width:30%;
  float:right;
  margin:10px;
}
.todoWithStrikethroughScreenshot,
.todoItemStyledImage{
  width:100%;
}

// XS
@media (max-width: 599px) {
  .partOneComplete,
  .appWithTodosScreenshot,
  .todoItemAddedImage,
  .reduxDevtoolsImage,
  .addTodoImage,
  .basicLayoutImage{
    width:50%;
    float:right;
    margin:10px;
  }
}