@import '../../_variables.scss';

.contentContainer{
  max-width: 80rem;
  margin: 0 auto;
  padding:2rem;
}

.homeThemeDarkScreenshot{
  width:20%;
  float:right;
  margin:10px;
}

.toggleThemeScreenshot{
  width:30%;
  float:right;
  margin:10px;
}
