@import './colours.scss';

// $lightGrey: #F5F3F2;
// $midGrey: #DFDEDC;
// $darkGrey: #56555C;
// $pink: #FDDFDE;
// $red: #F66465;
// $maroon: #AB3B3D;

// LAYOUT
// - main
$mainBackground: $white;
// - navMenu
$navMenuBackground: $greyscale_darker;
// - footer
$footerHeight: 6rem;
$footerIconMargin: 0.5rem;
$footerBackground: $greyscale_dark;


// TYPOGRAPHY
$standardCopySize: 1.6rem;
$codeCopySize: 1.3rem;

// NAV MENU
$navMenuWidth: 18rem;
$navMenuFontSize: 1.4rem;

$navMenuText: white; 
// item background and text
$navMenuItemBackground_Hover: $quinary_darker;
$navMenuItemBackground_Active: $quinary_dark;
$navMenuText_Hover: $tertiary_darker;
$navMenuText_Active: $tertiary_darkest;
// The circles with arrows in them next to the NavItem Text.
$navMenuActiveIndicator: $white;
// The intesectionObserver scroll illustration bars next to NavSubItems
$navMenuIntersectionBar: $complement;

// OS SELECTOR
$osSelectorBorder: $greyscale_darker;
$osSelectorBorder_Active: $greyscale_darker;
$osSelector_Active: $quinary_dark;

// TOOLTIPS
// ...todo

// GLOBAL Assignments
$scrollbarTrack: $greyscale_lightest;
$scrollbarThumb: $greyscale_darker;


// Toggle Switch
$standardOuterBorderRadius: 0.4rem;
$standardInnerBorderRadius: 0.2rem;
$inputWrapperPadding: 0.4rem;
$inputWrapperBackground: $quaternary;
$inputWrapperBorderRadius: $standardOuterBorderRadius;
$inputLabelFontSize: 0.9rem;
$inputLabelColour: $quinary;
$inputLabelPadding: 0.2rem 0.4rem 0.4rem 0.4rem;
