// Base Colours
// https://www.design-seeds.com/in-nature/creatures/color-creature-3/
$crayolaRed: #FF1053;
$magenta: #802392;
$crayolaBlue: #3777FF;
$midGreen: #528E59;
$crayolaGreen: #a9f619;
$maximumYellow: #F5F514;

$lavender:#e05780;
$deepPurple: #5a189a;
$inkBlue: #00509d;
$opalGreen: #708d81;
$paperBeige: #f4d58d;
$burntSienna: #DA6E48;

$white: #f0f0f0;
$black: #131313;

$primary_colour: $lavender;
$secondary_colour: $deepPurple;
$tertiary_colour: $inkBlue;
$quaternary_colour: $opalGreen;
$quinary_colour: $paperBeige;
$senary_colour: $burntSienna;

// Maybe have a go at automating the below stuff with:
// https://www.sitepoint.com/using-sass-build-color-palettes/

// Base Colour Variants
$primary_darkest: scale-color($primary_colour, $lightness: -75%);
$primary_darker: scale-color($primary_colour, $lightness: -50%);
$primary_dark: scale-color($primary_colour, $lightness: -25%);
$primary: $primary_colour;
$primary_light: scale-color($primary_colour, $lightness: 25%);
$primary_lighter: scale-color($primary_colour, $lightness: 50%);
$primary_lightest: scale-color($primary_colour, $lightness: 75%);

$secondary_darkest: scale-color($secondary_colour, $lightness: -75%);
$secondary_darker: scale-color($secondary_colour, $lightness: -50%);
$secondary_dark: scale-color($secondary_colour, $lightness: -25%);
$secondary: $secondary_colour;
$secondary_light: scale-color($secondary_colour, $lightness: 25%);
$secondary_lighter: scale-color($secondary_colour, $lightness: 50%);
$secondary_lightest: scale-color($secondary_colour, $lightness: 75%);

$tertiary_darkest: scale-color($tertiary_colour, $lightness: -75%);
$tertiary_darker: scale-color($tertiary_colour, $lightness: -50%);
$tertiary_dark: scale-color($tertiary_colour, $lightness: -25%);
$tertiary: $tertiary_colour;
$tertiary_light: scale-color($tertiary_colour, $lightness: 25%);
$tertiary_lighter: scale-color($tertiary_colour, $lightness: 50%);
$tertiary_lightest: scale-color($tertiary_colour, $lightness: 75%);

$quaternary_darkest: scale-color($quaternary_colour, $lightness: -75%);
$quaternary_darker: scale-color($quaternary_colour, $lightness: -50%);
$quaternary_dark: scale-color($quaternary_colour, $lightness: -25%);
$quaternary: $quaternary_colour;
$quaternary_light: scale-color($quaternary_colour, $lightness: 25%);
$quaternary_lighter: scale-color($quaternary_colour, $lightness: 50%);
$quaternary_lightest: scale-color($quaternary_colour, $lightness: 75%);

$quinary_darkest: scale-color($quinary_colour, $lightness: -75%);
$quinary_darker: scale-color($quinary_colour, $lightness: -50%);
$quinary_dark: scale-color($quinary_colour, $lightness: -25%);
$quinary: $quinary_colour;
$quinary_light: scale-color($quinary_colour, $lightness: 25%);
$quinary_lighter: scale-color($quinary_colour, $lightness: 50%);
$quinary_lightest: scale-color($quinary_colour, $lightness: 75%);

$senary_darkest: scale-color($senary_colour, $lightness: -75%);
$senary_darker: scale-color($senary_colour, $lightness: -50%);
$senary_dark: scale-color($senary_colour, $lightness: -25%);
$senary: $senary_colour;
$senary_light: scale-color($senary_colour, $lightness: 25%);
$senary_lighter: scale-color($senary_colour, $lightness: 50%);
$senary_lightest: scale-color($senary_colour, $lightness: 75%);

// Interaction Colours
$destructive : #DC0000;
$callout : #FFA501;
$complement : #fbff00;
$constructive : #00874C;
$greyscale : #6B6B6B;

// Interaction Colour Variants
$destructive_darkest: scale-color($destructive, $lightness: -75%);
$destructive_darker: scale-color($destructive, $lightness: -50%);
$destructive_dark: scale-color($destructive, $lightness: -25%);
$destructive_light: scale-color($destructive, $lightness: 25%);
$destructive_lighter: scale-color($destructive, $lightness: 50%);
$destructive_lightest: scale-color($destructive, $lightness: 75%);

$callout_darkest: scale-color($callout, $lightness: -75%);
$callout_darker: scale-color($callout, $lightness: -50%);
$callout_dark: scale-color($callout, $lightness: -25%);
$callout_light: scale-color($callout, $lightness: 25%);
$callout_lighter: scale-color($callout, $lightness: 50%);
$callout_lightest: scale-color($callout, $lightness: 75%);

$complement_darkest: scale-color($complement, $lightness: -75%);
$complement_darker: scale-color($complement, $lightness: -50%);
$complement_dark: scale-color($complement, $lightness: -25%);
$complement_light: scale-color($complement, $lightness: 25%);
$complement_lighter: scale-color($complement, $lightness: 50%);
$complement_lightest: scale-color($complement, $lightness: 75%);

$constructive_darkest: scale-color($constructive, $lightness: -75%);
$constructive_darker: scale-color($constructive, $lightness: -50%);
$constructive_dark: scale-color($constructive, $lightness: -25%);
$constructive_light: scale-color($constructive, $lightness: 25%);
$constructive_lighter: scale-color($constructive, $lightness: 50%);
$constructive_lightest: scale-color($constructive, $lightness: 75%);

$greyscale_darkest: scale-color($greyscale, $lightness: -75%);
$greyscale_darker: scale-color($greyscale, $lightness: -50%);
$greyscale_dark: scale-color($greyscale, $lightness: -25%);
$greyscale_light: scale-color($greyscale, $lightness: 25%);
$greyscale_lighter: scale-color($greyscale, $lightness: 50%);
$greyscale_lightest: scale-color($greyscale, $lightness: 75%);
