@import './colours.scss';

:root{
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --quaternary: #{$quaternary};
  --quinary: #{$quinary};
  --senary: #{$senary};

  --primary_darkest: #{$primary_darkest};
  --primary_darker: #{$primary_darker};
  --primary_dark: #{$primary_dark};
  --primary_light: #{$primary_light};
  --primary_lighter: #{$primary_lighter};
  --primary_lightest: #{$primary_lightest};

  --secondary_darkest: #{$secondary_darkest};
  --secondary_darker: #{$secondary_darker};
  --secondary_dark: #{$secondary_dark};
  --secondary_light: #{$secondary_light};
  --secondary_lighter: #{$secondary_lighter};
  --secondary_lightest: #{$secondary_lightest};

  --tertiary_darkest: #{$tertiary_darkest};
  --tertiary_darker: #{$tertiary_darker};
  --tertiary_dark: #{$tertiary_dark};
  --tertiary_light: #{$tertiary_light};
  --tertiary_lighter: #{$tertiary_lighter};
  --tertiary_lightest: #{$tertiary_lightest};

  --quaternary_darkest: #{$quaternary_darkest};
  --quaternary_darker: #{$quaternary_darker};
  --quaternary_dark: #{$quaternary_dark};
  --quaternary_light: #{$quaternary_light};
  --quaternary_lighter: #{$quaternary_lighter};
  --quaternary_lightest: #{$quaternary_lightest};

  --quinary_darkest: #{$quinary_darkest};
  --quinary_darker: #{$quinary_darker};
  --quinary_dark: #{$quinary_dark};
  --quinary_light: #{$quinary_light};
  --quinary_lighter: #{$quinary_lighter};
  --quinary_lightest: #{$quinary_lightest};

  --senary_darkest: #{$senary_darkest};
  --senary_darker: #{$senary_darker};
  --senary_dark: #{$senary_dark};
  --senary_light: #{$senary_light};
  --senary_lighter: #{$senary_lighter};
  --senary_lightest: #{$senary_lightest};


  
  --destructive: #{$destructive};
  --callout: #{$callout};
  --complement: #{$complement};
  --constructive: #{$constructive};
  --greyscale: #{$greyscale};


  --destructive_darkest: #{$destructive_darkest};
  --destructive_darker: #{$destructive_darker};
  --destructive_dark: #{$destructive_dark};
  --destructive_light: #{$destructive_light};
  --destructive_lighter: #{$destructive_lighter};
  --destructive_lightest: #{$destructive_lightest};

  --callout_darkest: #{$callout_darkest};
  --callout_darker: #{$callout_darker};
  --callout_dark: #{$callout_dark};
  --callout_light: #{$callout_light};
  --callout_lighter: #{$callout_lighter};
  --callout_lightest: #{$callout_lightest};

  --complement_darkest: #{$complement_darkest};
  --complement_darker: #{$complement_darker};
  --complement_dark: #{$complement_dark};
  --complement_light: #{$complement_light};
  --complement_lighter: #{$complement_lighter};
  --complement_lightest: #{$complement_lightest};

  --constructive_darkest: #{$constructive_darkest};
  --constructive_darker: #{$constructive_darker};
  --constructive_dark: #{$constructive_dark};
  --constructive_light: #{$constructive_light};
  --constructive_lighter: #{$constructive_lighter};
  --constructive_lightest: #{$constructive_lightest};

  --greyscale_darkest: #{$greyscale_darkest};
  --greyscale_darker: #{$greyscale_darker};
  --greyscale_dark: #{$greyscale_dark};
  --greyscale_light: #{$greyscale_light};
  --greyscale_lighter: #{$greyscale_lighter};
  --greyscale_lightest: #{$greyscale_lightest};
}