// // SCSS / Vars test
// $test-color: #f0f;
// // Autoprefixer test
// ::placeholder {
//   color: $test-color;
// }

//Root import to commit scss variables to css variables.
@import 'cssVariables.scss';

// REMS DECLARATION
html{
  height:100%;
  font-size: 62.5%;
}
// XS
@media (max-width: 599px) {
  html{
    font-size:65%;
  }
}
// SM
@media (min-width: 600px) {
  html{
    font-size:70%;
  }
}
// MD
@media (min-width: 900px) {
  html{
    font-size:75%;
  }
}
// LG
@media (min-width: 1200px) {
  html{
    font-size:90%;
  }
}
// XL
@media (min-width: 1800px) {
  html{
    font-size:100%;
  }
}

body {
  font-weight: 400;
  font-family: 'Avenir LT Std';
  height:100%;
}
#application{ // Webkit fix for mobile addressbar taking up vh space.
  // position: absolute;
  // top:0;
  // right:0;
  // bottom:0;
  // left:0;
}
